extends layout

block content
  .row
    h2 Shirts
    br
    .col-sm-2
      img(src='http://www.clker.com/cliparts/b/m/L/p/r/u/gray-square-th.png')
    .col-sm-2
      img(src='http://www.clker.com/cliparts/b/m/L/p/r/u/gray-square-th.png')
    .col-sm-2
      img(src='http://www.clker.com/cliparts/b/m/L/p/r/u/gray-square-th.png')
    .col-sm-2
      img(src='http://www.clker.com/cliparts/b/m/L/p/r/u/gray-square-th.png')
    .col-sm-2
      img(src='http://www.clker.com/cliparts/b/m/L/p/r/u/gray-square-th.png')
    .col-sm-2
      img(src='http://www.clker.com/cliparts/b/m/L/p/r/u/gray-square-th.png')


