extends layout

block content
  .row.section-div#top
    h1 top
  .row.section-div#customersHeader.text-center
    h1 Our Customers
  .row.section-div#schools
    h1 schools
  .row.section-div#companies
    h1 companies
  .row.section-div#colleges
    h1 colleges
  .row.section-div#team
    h1 team
  .row.section-div#contact
    h1 contact
